<div class="col mb-4" style="margin-bottom: 20px">
<div class="card h-100">
<% if receipt.images.first && receipt.images.first.variable? %>
  <%= image_tag receipt.images.first.variant(resize: "400x400^"), class: 'card-img-top'  %>
<% elsif receipt.images.first && receipt.images.first.previewable? %>
  <%= image_tag receipt.images.first.preview(resize_to_limit: [200, 200]), class: 'card-img-top'  %>
<% end %>
  <div class="card-body">
    <%= link_to receipt.tray.name, receipts_path(tray_id: receipt.tray.id), class: 'badge badge-info' %>
  
    <h5 class="card-title">
      <% if receipt.merchant %>
        <%= link_to receipt.merchant.name, receipts_path(merchant_id: receipt.merchant_id) %>
      <% else %>
        Unknown Merchant
       <% end %>
    </h5>
    <p class="card-text">
       <%= number_to_currency(receipt.amount) %> 
    </p>
    <%= link_to edit_receipt_path(receipt.id) do %>
      <span class="material-icons">
        edit
      </span>
    <% end %>
    
  </div>
  <div class="card-footer">
    <small class="text-muted"><%= time_ago_in_words(receipt.date) %> ago</small>
  </div>
</div>
</div>
<!%= link_to receipt.tray.name, receipts_path(tray_id: receipt.tray.id) %> 