<h2>Editing Receipt</h2>

<%= form_for(@receipt) do |f| %>

<%= f.label :tray_id %>
<%= f.select(:tray_id, current_user.trays.writable.collect {|t| [ t.name, t.id ] })%>

<%= f.label :transaction_date %>
<%= f.text_field :transaction_date %>

<%= f.label :amount %>
<%= f.text_field :amount %>

<%= f.label :images %>
<%= f.file_field :images, multiple: true %>

<ul>
  <% @receipt.images.each do |file| %>
    <li>
    <% if file.previewable? %>
      <%= link_to image_tag(file.preview(resize_to_limit: [200, 200])), file %>
    <% elsif file.variable? %>
        <%= link_to image_tag(file.variant(resize: "200x200")), file %>
    <% else %>
      <%= link_to "View", file %>
    <% end %>
    </li>
  <% end %>
</ul>

 <div class="actions">
    <%= f.submit %>
    <%= link_to 'Delete', receipt_path(@receipt), method: 'delete' %>
  </div>

<% end %>