<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
<h2>
<% if @tray.present? %>
  <%= I18n.t 'receipts' %> > <%= @tray.name %>
<% elsif @merchant.present? %>
  <%= I18n.t 'receipts' %> > <%= @merchant.name %>
<% else %>
  All Receipts
<% end %>
</h2>
<div class="btn-toolbar mb-2 mb-md-0">
  <% if @tray %>
    <%= link_to "Edit Tray", edit_tray_path(@tray), class: 'btn btn-primary btn-sm' %>
  <% end %>
  <%= link_to "Add New Receipt", new_receipt_path, class: 'btn btn-primary btn-sm' %>
</div>
</div>

<div class="row row-cols-1 row-cols-md-4" id="receipts">
<% @receipts.each do |receipt| %>
  <%= render partial: "receipt", locals: {receipt: receipt} %>
<% end %>
</div>