<h2>New Receipt</h2>

<%= form_for(@receipt) do |f| %>

<%= f.label :tray_id %>
<%= f.select(:tray_id, current_user.trays.writable.collect {|t| [ t.name, t.id ] })%>

<%= f.label :transaction_date %>
<%= f.text_field :transaction_date %>

<%= f.label :amount %>
<%= f.text_field :amount %>

<%= f.label :images %>
<%= f.file_field :images, multiple: true %>

 <div class="actions">
    <%= f.submit %>
  </div>

<% end %>