<!DOCTYPE html>
<html>
  <head>
    <title>Keeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <ul>
      <% if logged_in? %>
        <li><%= current_user.user_name %></li>
        <li><%= link_to "Trays", trays_path %></li>
        <li><a class="nav-link" data-method="delete" href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </body>
</html>
